#div_form_register {
    border-radius: 15px 50px 30px 5px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 100%;
}
#div_form_login {
    border-radius: 15px 50px 30px 5px;
    background: orange;
    padding: 20px;
    width: 200px;
    height: 100%;
}

#register_login_parent_div {
    border-radius: 15px 50px 30px 5px;
    padding: 20px;
    width: 600px;
    height: 400px;
}

#group_actions_div {
    border-radius: 15px 50px 30px 5px;
    background: gainsboro;
    padding: 20px;
    width: 50%;
    height: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#group_information_div {
    border-radius: 15px 50px 30px 5px;
    background: gainsboro;
    padding: 20px;
    width: 50%;
    height: 100%;
}

#new_transaction_div {
    border-radius: 15px 50px 30px 5px;
    background: aliceblue;
    padding: 20px;
    width: 50%;
    height: 100%;
}


#get_member_keys {
    border-radius: 15px 50px 30px 5px;
    background: aliceblue;
    padding: 20px;
    width: 50%;
    height: 100%;
}

#sym_key_div {
    border-radius: 15px 50px 30px 5px;
    background: rosybrown;
    padding: 20px;
    width: 50%;
    height: 100%;
}


#shamir_secret_div {
    border-radius: 15px 50px 30px 5px;
    background: yellowgreen;
    padding: 20px;
    width: 50%;
    height: 100%;
}

#transaction_information_div  {
    border-radius: 15px 50px 30px 5px;
    background: lightgreen;
    padding: 20px;
    width: 50%;
    height: 100%;
}

#loader-img
{
    position: fixed;
    left: 30%;
    top: 50%;
    width: 20%;
    height: 20%;
    z-index: 9999;
    background: url('gears.gif') 50% 50% no-repeat transparent;
    content: "Fetching data from server";
}